body{
  margin: 0px;
  padding: 0px;
}
.topnav {
  grid-column: span 12;
  display: grid;
  grid-template-columns:repeat(24,1fr);
  overflow: hidden;
  background-color: #F4F5FA;
}

.topfor{
  grid-column: 8/12;
}
.topfor2{
  grid-column: 12/16;
}

.topfor:hover{
  background-color: rgba(178, 220, 255,0.5);
}
.topfor2:hover{
  background-color: rgba(178, 220, 255,0.5);
}

.topbutn{
  grid-column: 18/20 ;
}

.topback{
  grid-column: 20/22 ;
}
.topback:hover{
  background-color: rgba(178, 220, 255,0.5);
}
.topback{
  text-align: center;
  padding: 20px;
}
.topback a{
  color: #727171;
  text-decoration: none;
}

.topbutn2{
  grid-column: 21/23;
}

.toplogo{
  grid-column: 3/6;
}

.toplogo:hover {
  background-color: rgba(178, 220, 255,0.5);
}

.toplogo1{
  grid-column: 3/6;
}

.topx{
  grid-column: span 3;
}

.cs1 {
  color: #727171;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: Tw Cen MT;
}


/* BUTTON */
.button {
  border-radius: 4px;
  background-color: #B2DCFF ;
  border: none;
  color:black ;
  text-align: center;
  font-size: 18px;
  padding: 9px;
  width: 109px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 12px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;

}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/*DROPDOWN */

.dropbtn {
    background-color: #F4F5FA;
    color: #727171;
    padding: 20px;
    font-size: 15px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    grid-column: 20/23;
}

.dropdown-content {
    display: none;
    position: fixed;
    /* background-color: #0A2B40; */
    background-color: #F4F5FA;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #727171;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color:  #B2DCFF;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #B2DCFF; }
