body{
  margin: 0px;
  padding: 0px;
}

.button1
{
    background-color: white;
    border: 1px solid #008040;
    color: black;
    width: 400px;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
}
.step{
    text-align: center;
    display: block;
    margin-left: auto;
}
.step a{
    text-decoration: none;
}
.step i{
    padding: 5px;
    margin-top: 10px;
}

.button1:hover {
    box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24), 0 15px 48px 0 rgba(0,0,0,0.19);
}
