body {
  background: white;
  margin: 0px;
  padding: 0px;
}

.header {
  width: 30%;
  margin: 10px auto 0px;
  text-align: center;
  padding: 10px;
}
.content{
  width: 90%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  text-align: center;
}
.input-group{
  position: relative;
  display: inline-block;
  width:48%;
}

.input-group label, .input-group input, .input-group select{
  margin: 10px 0px 10px 0px;
  display: inline-block;
  width: 40%;
  padding: 10px;
  font-size: 16px;
  text-align: left;
}


.input-group .tooltiptext {
  visibility: hidden;
  width: 275px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 60%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  }

  .input-group .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  }

  .input-group:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  }
.contbot{
    display: block;
    text-align: right;
    margin: 50px;
}
.contbot .btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 5px;
}
#individual, #insitution{
  display: none;
}
.type{
    display: inline-block;
    width:40%;
}

.type label, .type input, .type select{
  margin: 0px 0px 10px 0px;
  display: inline-block;
  width: 40%;
  padding: 10px;
  font-size: 16px;
  text-align: left;
}
