body {
  margin:0px;
  padding:0px;
  }

  .container{
  display: grid;
  grid-template-rows: 2fr 8fr 3fr;
  grid-gap: 1em;
  height: 1100px;
  }
  .main{
  display: grid;
  grid-template-columns:1fr 2fr;
  grid-gap: 1em;
  grid-auto-rows: minmax(20px,auto);
  margin-left: 7em;
  margin-right: 7em;
  }

  .backimg{
  background-color: white;
  grid-column:1/3;
  grid-row: 2;
  text-align: center;
  color: white;
  height: 250px;
  }

  .backimg img{
  max-height: 200px;
  width: 100%;
  }

  .back-button{
  width: 100%;
  background-color: grey;
  height: 50px;
  color: white;
  font-size: 20px;
  }

  .back-button:hover{
  opacity: 0.8;
  }

  .back{
  background-color: #f2f2f2;
  text-align: center;
  font-size: 28px;
  color: black;
  height: 200px;
  line-height: 180px;
  }

  .sideprof,.social,.contact{
  grid-column: 1;
  margin-left: 1em;
  margin-bottom: 1em;
  padding: 15px;
  align-content: center;
  border: 1px solid gray;
  background-color: white;
  }

  .sideprof{
  grid-row:3/6;
  }
  .social{
  grid-row:7/8;
  }
  .contact{
  grid-row:6/7;
  }
  .sideprof img{
  max-height: 112px;
  max-width: 112px;
  border: 1px dotted gray;
  }
  .sideprof .upload,.cam{
  text-align: center;
  /* padding: 4px; */
  }
  .sideprof .pen{
  float:right;
  display: none;
  position: absolute;
  }
  .sideprof .pencil{
  display: none;
  }
  .sideprof:hover .pen{
  display: inline;
  }
  .sideprof:hover .pencil{
  display: inline;
  }
  .sideprof ul{
  list-style-type: none;
  padding: 4px;
  }
  .sideprof .value{
  float:right;
  }
  .sideprof .b1{
  width: 100%;
  margin: 10px;
  }

  #overlay,#sumformov,#socialformov,#overly,#product,#cust,#target,#bussi,#market,#segs,#sales,#comp,#adv,#contactform,#profteam,#addteam,#adv,#inv,#olpformov,#backimg,#openround,#annualfin,#closeround,#hist{
      position: fixed;
      overflow-y: scroll;
      display: none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color:rgba(0,0,0,0.5);
      z-index: 2;
      cursor: pointer;
  }
  a{
    text-decoration: none;
    color:#0e3c58;
  }
  a:hover{
    opacity: 0.8;
  }

  .databox{
  border: 1px dashed gray;
  margin:10px;
  padding: 10px;
  padding-top: 0px;
  }
  .databox .pencil{
  margin-top: 10px;
  display: none;
  }
  .databox .add{
    display: none;
  }
  .databox:hover .add{
    display: inline;
  }
  .databox:hover .pencil{
    display:inline;
  }

  .nav{
  grid-column: 2;
  grid-row: 3;
  border-bottom: 1px solid gray;
  }
  .nav >div{
  float:left;
  margin: 1em;
  margin-top:0px;
  margin-bottom: 0px;
  padding: 10px;;
  }
  .nav a{
  text-decoration: none;
  color: gray;
  }
  .nav a:active{
  color:black;
  }
  .nav a:hover{
  color:black;
  text-decoration:underline #36a6fc;
  }
  .video{
  margin-top:20px;
  }

  .summary{
  grid-column: 2;
  grid-row: 4/9;
  }
  .icsize{
  font-size:11pt;
  color: gray;
  }
  .summary .pen,.pencil,.add{
  float:right;
  }
  .form{
  display: grid;
  grid-template-rows:1fr 2fr;
  justify-items: center;
  align-items: center;
  width: 500px;
  margin: 100px auto;
  background-color: #eee;
  padding: 1em;
  }
  .formtext {
  grid-row:2;
  max-width: 100%;
  /* height: 100%; */
  width: 400px;
  }
  .formhead {
  grid-row:1;
  width: 400px;
  }
  .submits{
  float: right;
  }
  .socialic{
  margin-bottom: 5px;
  }
  .save,.b1,.adddoc{
  background-color: #7ec5fd;
  color: white;
  border:2px solid #7ec5fd;
  padding: 10px;
  margin-left: 10px;
  }
  .adddoc{
  float: right;
  margin-top: 10px;
  }
  .adddoc:hover{
  opacity:0.6;
  cursor: pointer;
  }
  .cancel,.b2,.pencil,.add{
  margin-top: 5px;
  border:2px solid #7ec5fd;
  background-color: white;
  padding: 10px;
  cursor: pointer;
  }
  .cancel:hover,.pencil:hover,.add:hover,.b2:hover{
  background-color:#eee;
  cursor:pointer;
  }
  .save:hover,.b1:hover{
  opacity:0.6;
  cursor:pointer;
  }

  .compbasics{
  display: grid;
  justify-items: center;
  padding: 2em;
  }
  .profform{
  background-color: #eee;
  }
  .close{
  float:right;
  }
  .compbasics div{
  padding: 10px;
  margin: 10px;
  }
  .compbasics input,select,textarea{
  width: 100%;
  }
  .compbasics butn{
  float: right;
  }
  .databox div video{
  max-height: 300px;
  max-width: 100px;
  }
  .tables {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  }
  .tables td, .tables th {
  border: 1px solid #ddd;
  padding: 8px;
  }
  .tables th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #7ec5fd;
  color: white;
  }

  #equity,#notes{
      display: none;
  }

  .tooltip label, .tooltip input, .tooltip select{
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: left;
    }

    .tooltip {
    position: relative;
    display: inline-block;
    width:48%;
    }

    .tooltip .tooltiptext {
    visibility: hidden;
    width: 275px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    bottom: 50%;
    left: 60%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    }

    .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 20%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    }

    .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    }
