            body
            {
                margin:0px;
                padding:0px;
            }

            big
            {
                font-size: 25px;
            }
            .outer-grid
            {
                display: grid;
                grid-template-columns:repeat(24,1fr);
            }

            .item3
            {
                grid-column: 4/22;
            }

            .eval
            {
                grid-column: 4/22;
                display: grid;
                grid-template-columns: 50% 50%;
                background-color: white;
                background-color: #f2f2f2;
            }


             .item4
            {
              grid-column: span 24;
            }

            .item5
            {
              grid-column: 4/9;
            }

            .item6
            {
              grid-column: 11/23;
            }

            .item7
            {
              grid-column: 9/23;
            }


            .button
            {
                background-color: #0b7df7;
                border: none;
                color: white;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 14px;
                margin: 4px 2px;
                cursor: pointer;
                font-family: "Times New Roman", Times, serif;
            }

            .button1
            {
                background-color: #f2f2f2;
                border: none;
                color: black;
                width: 250px;
                padding: 10px 25px;
                text-decoration: none;
                display: inline-block;
                font-size: 20px;
                margin: 4px 2px;
                cursor: pointer;
                font-family: "Times New Roman", Times, serif;
            }

            .button1:active
            {
                background-color:#B2DCFF;
                color: white;
            }

            .button1:hover
            {
                background-color:#B2DCFF;
                color: black;
            }
            .button2
            {
                width: 200px;
                padding: 5px 15px;
                text-decoration: none;
                display: inline-block;
                font-size: 15px;
                margin: 4px 2px;
                cursor: pointer;
                font-family: "Times New Roman", Times, serif;
                background-color: white;
                color: #008CBA;
                border: 2px solid #008CBA;
            }

            .button2 a:hover
            {
                width: 200px;
                padding: 5px 15px;
                text-decoration: none;
                display: inline-block;
                font-size: 15px;
                margin: 4px 2px;
                cursor: pointer;
                font-family: "Times New Roman", Times, serif;
                background-color:  #008CBA;
                color: white;
                border: 2px solid #008CBA;
            }

            .button3
            {
                background-color: #0A2B40;
                color: white;
                padding: 20px;
                font-size: 18px;
                border: none;
            }
