
/*CSS3 STROKE EFFECT*/

#mainNav{
  background-color:white;
  font-family:"arial";
  text-align:left;
  /* font-weight:bold; */
}
#mainNav ul {
  list-style: none;
  margin:0;
  text-align:left;
  margin-left: 200px;
}
#mainNav ul li {
  display: inline-block;
  display:inline;
  margin: 20px;
  text-align:center;
}
#mainNav ul li a {
  padding-bottom: 10px;
  text-decoration: none;
  color: black;
  text-align:center;
}
#mainNav ul li a,
#mainNav ul li a:after,
#mainNav ul li a:before {
  transition: all .5s;
}
#mainNav ul li a:hover {
  color:#0A2B40;
}

/* stroke */
#mainNav.stroke ul li a
{
  position: relative;
}
#mainNav.stroke ul li a:after,
#mainNav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background:#0A2B40;
  height: 1px;
}
#mainNav.stroke ul li a:hover:after {
  width: 100%;
}

#mainNav ul li a {
  transition: all 1s;
}

#mainNav ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
#mainNav ul li a:hover {
  color: #008CBA;
  z-index: 1;
}
#mainNav ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  opacity: 1;
}

.item2
{
    margin-top: 20px;
    width:100%;
}
